.navbar
	position: fixed
	width: 18%
	z-index: 1
	top: 0
	left: 0
	background-color: #cfcfcf
	border-right:  1px solid #e0e0e0
	// tämä on 14.4 px jos otetaan 1440 leveydestä, alkuperäinen figma halusi 16px
	padding: 1%
	height: 100%