.specific-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  margin-left: 250px;
 }
 
 .specific-list-container h2 {
  margin-bottom: 20px;
  text-align: center;
 }
 
 .specific-list-container ul li img {
  max-width: 250px;
  max-height: 500px;
  object-fit: cover;
  margin: auto;
  display: block;
  margin-bottom: 10px;
 }
 
 .specific-list-container ul li p {
  max-width: 80%;
  margin: auto;
  text-align: justify; 
 }
 
 

  