body {
  color: black; 
  font-weight: bold; 
  background-color: grey;
}
.group-search-container {
  position: relative;
  color: black; 
  font-weight: bold; 
  background-color: grey;
  max-width: 75%;
  max-height: 80%;
  left: 10%;
  margin: 20px auto;
  display: flex;
  flex-direction: column; /* Arrange items vertically */
}
.insides {
  background-color: white;
  padding: 10px
}
.input-group {
  text-align: left;
}

h2 {
  text-align: left; 
  margin-top: 0;
}

.input-group {
  margin-bottom: 10px;
}

.group-list ul {
  list-style-type: none;
  padding: 0;
}

.group-list li {
  display: flex;
  align-items: middle;
  justify-content: space-between;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
  position: relative;
}


.group.description{
  position: relative;
  left: 50%;


}
.created-by {
  position: absolute;
  left: 29%;
  transform: translateX(-50%);
}
.button-join {
  width: 15%;
  position: relative;
  left: -38%; 
  background-color: black;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 4px;
}

.button-join:hover {
  background-color: #333;
}

.input-group input[type="text"],
.input-group input[type="text"]::placeholder {
  padding: 8px;
  border-radius: 4px;
  width: 40%;
}

.input-group button {
  padding: 8px 16px;
  border: none;
  background-color: black;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.input-group button:hover {
  background-color: #333;
}
.bold-text {
  font-weight: bold;
}
.headers-container {
  display: flex;
  justify-content: space-between;
}

.headers {

  display: inline-block;
  width: 10%;
  left: 20%;
  color: grey;
}
.headers2 {
  position: absolute;
  display: inline-block;
  width: 10%;
  left: 25%;
  color: grey;
}
.headers3 {
  position: absolute;
  display: inline-block;
  width: 10%;
  left: 74%;
  color: grey;
}

.group-name {
  display: inline-block;

}
.created-by {
  display: inline-block;
  width: 13%; 
  padding: 8px; 
  background-color: #f0f0f0;
  border-radius: 5px;
  position: absolute;
  left: 29%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.group-list::-webkit-scrollbar {
  width: 10px; 
}

.group-list::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

.group-list::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px; 
}

.group-list::-webkit-scrollbar-thumb:hover {
  background: #555; 
}


.group-description {
  position: absolute;
  left: 75%;
  cursor: pointer; 
}

.group-description::after {
  width: 300%;
  content: attr(title); 
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8); 
  color: white; 
  padding: 5px 10px; 
  border-radius: 5px; 
  z-index: 0; 
  display: none;
  bottom: 100%;
  left: 40%; 
  transform: translateX(-50%); 
}

.group-description:hover::after {
  display: block; 
}
.pagination button {

  position: relative;
  background-color: black;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 4px;
}