body {
  color: black; /* Default text color */
  font-weight: bold; /* Set default font weight to bold */
  background-color: grey;
}

.container {
  margin: 20px auto;
  max-width: 70%;
  margin-left: 25%;
}
.insides {
  background-color: white;
  padding: 10px
}
.input-group {
  text-align: left;
}

h2 {
  text-align: left;
}

.input-group {
  margin-bottom: 10px;
}

.group-list ul {
  list-style-type: none;
  padding: 0;
}

.group-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
  position: relative;
}

.group-name {
  margin-right: auto;
}

.created-by {
  position: absolute;
  left: 29%;
  transform: translateX(-50%);
}
.button-join {
  position: absolute;
  left: 50%; 
  background-color: black;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 4px;
}

.button-join:hover {
  background-color: #333;
}

.input-group input[type="text"],
.input-group input[type="text"]::placeholder {
  padding: 8px;
  border-radius: 4px;
  width: 40%;
}

.input-group button {
  padding: 8px 16px;
  border: none;
  background-color: black;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.input-group button:hover {
  background-color: #333;
}
.bold-text {
  font-weight: bold;
}
.headers-container {
  display: flex;
  justify-content: space-between;
}

.headers {
  display: inline-block;
  width: 24%;
  color: grey;
}
.headers2 {
  display: inline-block;
  width: 70%;
  margin-right: 54%;
  color: grey;
}

.group-name {
  display: inline-block;
  width: 9%; 
}
.created-by {
  display: inline-block;
  width: 13%; 
  padding: 8px; 
  background-color: #f0f0f0;
  border-radius: 5px;
  position: absolute;
  left: 29%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.group-list::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
}

.group-list::-webkit-scrollbar-track {
  background: #f1f1f1; /* Background color of the track */
}

.group-list::-webkit-scrollbar-thumb {
  background: #888; /* Color of the thumb */
  border-radius: 5px; /* Border radius of the thumb */
}

.group-list::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the thumb on hover */
}