
.group-page-body-movie {
  width: 80%;
  display: flex;
  flex-direction: column; /* Stack the containers vertically */
  align-items: flex-start; 

}
.group-page-body-movie h1 {
  position: relative;
  left: 20%;

}
.group-page-body-movie button{
  position: relative;
  background-color: black;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 4px;
  margin: 10px 10px 10px 10px;
}
.movie-times-container {
  position: relative;
  width: 90%;
  left: 20%;
  margin-top: 20px; 
}
.movie-times-content {
  width: 91%;
  background-color: #e9e9e9;
  padding: 10px;
  overflow-y: auto;
  max-height: 200px; 
}

.movie-times-content div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.movie-times-content span {
  width: 30%; 
}

.headers-container {
  display: flex;
  justify-content: space-between;
}

.movie-times-headers {
  display: inline-block;
  width: 20%;
  left: 23%;
  color: grey;
}

.movie-times-headers2 {
  position: absolute;
  display: inline-block;
  width: 20%;
  left: 33%;
  color: grey;
}

.movie-times-headers3 {
  position: absolute;
  display: inline-block;
  width: 20%;
  left: 65%;
  color: grey;
}
.group-movies-container{
  position: relative;
  margin-top: 5%;
  width: 40%;
  left: 20%;
}
.group-page-container{
  position: relative;
  left: 60%;
  width: 40%;
  transform: translateY(-29%);
}