body
	position: relative
	width: 100%
	height: 100%
	background-color: #e9e9e9
	font-family: 'inter', sans-serif
	font-size: 16px
	font-style: normal
	font-weight: 600




.content
	// voit antaa paddingin ja marginin prosentteina, jolloin ne skaalautuvat tai voit antaa kiinteän arvon, jolloin ne pysyvät samana kokoajan
	// padding arvon järjestys on: top right bottom left
	padding:
	width: 80%
	padding-left: 20%
